/* HIDE ITEMS */
.hidden {
    display: none;
}

.visibility-hidden{
    visibility: hidden;
}

/* LIST HELPERS */

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* INPUT CLEANER */
.input-cleaner {
    background: transparent;
    border: none;
    outline: none;
    font-family: unset;
}


/*A REF CLEANER */
.clean-ref {
    all: unset;
}


/*GRID HELPERS */
.grid {
    display: grid;
}


.grid.align-center {
    align-items: center;
}


.grid.justify-content-center {
    justify-content: center;
}


.grid.space-between {
    justify-content: space-between;
}


.grid.grid-auto-column {
    grid-auto-flow: column;
}


/* FLEX HELPERS */
.flex {
    display: flex;
}


.flex.justify-content-center {
    justify-content: center;
}


.flex.space-between {
    justify-content: space-between;
}


.flex.align-center {
    align-items: center;
}


.flex.space-around {
    justify-content: space-around;
}


.flex.grow {
    flex-grow: 1;
}


/* BORDER RADIUS */
.border-radius {
    border-radius: 2em;
}


/*BUTTONS HELPERS*/

.clean-btn {
    outline: none;
    border: none;
    background: none;
    font-family: unset;
}


.btn-border {
    border-top: 0.3em solid rgba(255, 255, 255, .5);
    border-bottom: 0.3em solid rgba(19, 18, 18, 0.3);
}



.btn {
    cursor: pointer;
}


.btn:hover {
    filter: brightness(75%);
}


/*IMG HELPERS*/
.use-full-width{
width: 100%
}


