.main-layout {
    display: grid;
    grid-template-columns:
        15px 1fr 15px;
}

.main-layout>.full {
    grid-column: 1 / -1;
}

.main-layout>*:not(.full) {
    grid-column: 2;
}

/*Gallery Layout*/

.gallery-layout {
    
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    margin-top: 2em;
    gap: 10px;
    margin-bottom: 20px;
}

