header {
    background-image: var(--clrGradiant);
}

.menu-btn {

    width: 3em;
    margin-right: 1em;
    transition: rotate 0.3s;
}

.manu-btn:hover {
    filter: brightness(75%);
}


.logo {
    font-size: 30px;
    margin-left: 0.5em;
}

.rotated{
    rotate: 90deg;
}