@media (max-width: 860px) {

    header {
        position: relative;
        height: 4em;
    }

    .main-nav {
        position: absolute;
        display: grid;
        grid-template-rows: 0fr;
        overflow: hidden;
        transition: grid-template-rows 1s;
        align-content: end;
        background: var(--clrPrimery);

        bottom: 0;
        transform: translateY(100%);
        left: 0;
        width: 100%;
    }

    body.menu-open .main-nav {
        grid-template-rows: 1fr;
    }

    .main-nav-list {
        flex-direction: column;
        border: none;
        min-height: 0px;
        overflow: hidden;
        height: 100%;
        justify-content: flex-end;
    }

    .main-header .main-nav-list button {
        width: 100%;
        height: auto;
        padding: 30px;

    }

    .main-header .main-nav-list button:hover {
        box-shadow: none;
        background-image: var(--clrGradiant);
        color: var(--clrGradiant);
    }

    .canvas-container {
        max-width: 800px;

    }

    .sheep-img{
        width: 2.8em;
    }
}

/* SMALL */

@media (min-width: 640px) {

    header {
        height: 6em;
    }
    
    .sheep-img{
        width: 4.2em;

}
}
/* MEDIUM */

@media (min-width: 860px) {

    .menu-btn {
        display: none;
    }

    .main-header .main-nav-list button {
        margin-left: 0.5em;
        padding: 0.5em 1.5em;
        border-radius: 1.25em;
    }


    .active {
        box-shadow: 3px 4px 11px 1px rgba(0, 0, 0, 0.35);
        background-color: var(--clrSecondery3) !important;
    }


    .menu-gr-txt {
        background: var(--clrGradiant);
        background-clip: text;
        -webkit-background-clip: text;
        color: rgba(0, 0, 0, 0.2);
    }

    .editor-section {
        display: grid;
        grid-template-columns: repeat(2, minmax(300px, 1fr));
        gap: 4em;
        align-items: center;
        justify-content: center;
    }

     .editor-section > :nth-child(even) {
        justify-self: left;
    } 

     .editor-section > :nth-child(odd) {
        justify-self: right;
    } 

    .canvas-container {
        max-width: 550px;
    }
    
    aside{
        max-width: 550px;
    }

    
}

/* LARGE */

@media (min-width: 1040px) {

    .canvas-container {
        max-width: 550px;
    }

    aside {
        max-width: 550px;
    }
}